<!DOCTYPE html>
<html>
<head>
  <title>About Techmasters</title>
  <link href="<%= url('/app.css') %>" rel="stylesheet" type="text/css" />
</head>
<body>
  <div class="container">
    <br /><br />
    <div class="jumbotron">
      <br />
      <h1>About Techmasters</h1>
      <p>
        We are a student organization at Phillips Academy, Andover dedicated to computers and technology.
        <br />
        We conduct weekly meetings on computers and technology and provide instruction for students interested in learning more about these topics.
        <br />
        Furthermore, we offer free software help to any students of Phillips Academy. For more details, visit our help page <a href="help">here</a>.
      </p>
    </div>
  </div>
</body>
</html>

