<!DOCTYPE html>
<html>
<head>
  <title>Contact Techmasters</title>
  <link href="<%= url('/app.css') %>" rel="stylesheet" type="text/css" />
</head>
<body>
  <div class="container">
    <br />
    <div class="alert alert-danger">
      <div class="text-center"><strong>DON'T PANIC</strong></div>
    </div>
    <div class="jumbotron">
      <h1>Getting Help</h1>
      <p>
        As a Phillips Academy student, there are several ways to receive assistance.
        <br />
        <br />
        You can stop by the second floor of the OWHL to receive one-on-one help with a Techmaster any time between 6:00 PM and 8:00 PM on Mondays and Thursdays. Please bring your charger, PAnet login credentials, and computer login credentials.
        <br />
        <br />
        If you need more immediate assistance, these times dont' work, or you just have a question for us, you can send an email to the Techmasters board through <a href="mailto:techmasters@andover.edu?Subject=TECHMASTERS%20HELP%20TICKET" target="_top">
techmasters@andover.edu</a>.
      </p>
    </div>
  </div>
</body>
</html>

