<!DOCTYPE html>
<html>
<head>
  <title>Techmasters</title>
  <link href="<%= url('/app.css') %>" rel="stylesheet" type="text/css" />
</head>
<body>
  <br /><br />
  <div class="container">
    <div class="jumbotron">
      <h1>Techmasters</h1>
      <p>Welcome to the Techmasters site! We are a student organization dedicated to computers and technology. Read more on the About page, or contact us for technical assistance below.</p>
      <a class="btn btn-primary btn-lg" href="help">help</a>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a class="btn btn-primary btn-lg" href="about">about</a>
    </div>
  </div>
</body>
</html>
